<!DOCTYPE html>
<html lang="en">
<header> Lineups Based on Team Exposure Caps</header>
<div class="tab">
  <button class="tablinks" onclick="">Player Ownership in Winning Lineups</button>
  <button class="tablinks" onclick="">Lineup Generator Based on Team Exposures</button>

</div>

<!-- Tab content -->
<div id="Content" class="tabcontent">
 <form>
  <label for="Team_Exposure Cap">Team Exposure Cap (%):</label>
     <br><input type="text" id="Value" name="Value"><br>
     <input type="submit" value="Submit">
</form>
</div>

