{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
      <title>Player Ownership in Winning Lineups</title>
      <link rel="stylesheet" type="text/css" href="{% static '/table.css' %}">
</head>

<div class="tab">
  <a class="tablinks" href="player_ownership.html">Player Ownership in Winning Lineups</a>
  <a class="tablinks" href="Lineups_team_exposure_caps.html">Lineup Generator Based on Team Exposures</a>

</div>

<!-- Tab content -->
<div id="Content" class="tabcontent">
 <form>
  <label for="Value">Value Threshold (%):</label>
     <br><input type="text" id="Value" name="Value"><br>
     <input type="submit" value="Submit">
</form>
<table style="table-layout:fixed">
<tr>
    <th>P1 </th>
    <th>P2 </th>
    <th>C </th>
    <th>1B </th>
    <th>2B </th>
    <th>3B </th>
    <th>SS </th>
    <th>OF1 </th>
    <th>OF2 </th>
    <th>OF3 </th>
</tr>
  {% for i, r in dataframe.iterrows %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ r.P1 }}</td>
      <td>{{ r.P2 }}</td>
      <td>{{ r.C }}</td>
      <td>{{ r.First_Base }}</td>
      <td>{{ r.Second_Base }}</td>
      <td>{{ r.Third_Base }}</td>
      <td>{{ r.SS }}</td>
      <td>{{ r.OF1 }}</td>
      <td>{{ r.OF2 }}</td>
      <td>{{ r.OF3 }}</td>
    </tr>
  {% endfor %}
</table>
</div>

